<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ozea.user.mapper.UserMapper">

    <resultMap id="UserMap" type="org.ozea.user.domain.User">
        <id     column="id"             property="id"/>
        <result column="email"          property="email"/>
        <result column="password_hash"  property="passwordHash"/>
        <result column="name"           property="name"/>
        <result column="role"           property="role"/>
        <result column="provider"       property="provider"/>
        <result column="phone"          property="phone"/>
        <result column="active"         property="active"/>
        <result column="last_login_at"  property="lastLoginAt"/>
        <result column="created_at"     property="createdAt"/>
        <result column="updated_at"     property="updatedAt"/>
        <result column="tendency"       property="tendency"/>
    </resultMap>

    <select id="findByEmail" resultMap="UserMap">
        SELECT
            id, email, password_hash, name, role, provider,
            phone, active, last_login_at, created_at, updated_at, tendency
        FROM users
        WHERE email = #{email}
            LIMIT 1
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (
            email, password_hash, name, role, provider, phone, active, created_at, updated_at, tendency
        ) VALUES (
                     #{email}, #{passwordHash}, #{name}, #{role}, #{provider}, #{phone}, #{active},
                     NOW(), NOW(), #{tendency}
                 )
    </insert>

    <update id="updateLastLogin">
        UPDATE users
        SET last_login_at = NOW(), updated_at = NOW()
        WHERE id = #{id}
    </update>

    <update id="updatePasswordHash">
        UPDATE users
        SET password_hash = #{passwordHash}, updated_at = NOW()
        WHERE id = #{id}
    </update>

</mapper>