<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- org.ozea.inquiry.mapper.InquiryMapper 인터페이스와 매핑되는 MyBatis 매퍼 파일입니다. -->
<mapper namespace="org.ozea.inquiry.mapper.InquiryMapper">
    <resultMap id="inquiryMap" type="org.ozea.inquiry.domain.InquiryVO">
        <id column="info_id" property="infoId" typeHandler="org.ozea.common.type.UUIDTypeHandler"/>
        <result column="user_id" property="userId" typeHandler="org.ozea.common.type.UUIDTypeHandler"/>
        <result column="user_name" property="userName"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="is_answered" property="isAnswered"/>
        <result column="created_at" property="createdAt"/>
        <result column="answered_content" property="answeredContent"/>
    </resultMap>
    <insert id="create" parameterType="org.ozea.inquiry.domain.InquiryVO">
        INSERT INTO inquiry(
        info_id, user_id, title, content, user_name, is_answered, created_at
        ) VALUES(
        #{infoId, javaType=java.util.UUID, jdbcType=BINARY},
        #{userId, javaType=java.util.UUID, jdbcType=BINARY},
        #{title},
        #{content},
        #{userName},
        false,
        NOW()  <!-- DB 함수로 현재 시각 삽입 -->
        )
    </insert>
    <update id="update">
        UPDATE inquiry
        <set>
            <if test="inquiry.title != null">
                title = #{inquiry.title},
            </if>
            <if test="inquiry.content != null">
                content = #{inquiry.content},
            </if>
        </set>
        WHERE info_id = #{infoId, javaType=java.util.UUID, jdbcType=BINARY}
    </update>
    <update id="updateAnswered">
        UPDATE inquiry
        <set>
            <if test="inquiry.answeredContent != null">
                answered_content = #{inquiry.answeredContent},
                is_answered = true
            </if>
        </set>
        WHERE info_id = #{infoId, javaType=java.util.UUID, jdbcType=BINARY}
    </update>

    <delete id="delete" parameterType="java.util.UUID" >
        delete from inquiry where info_id = #{infoId, javaType=java.util.UUID, jdbcType=BINARY}
    </delete>
    <select id="get" parameterType="java.util.UUID" resultMap="inquiryMap">
        SELECT *
        FROM inquiry
        WHERE info_id = #{infoId, javaType=java.util.UUID, jdbcType=BINARY}
    </select>

    <select id="getTotalCount" resultType="java.lang.Integer">
        select count(*) from inquiry
    </select>
    <select id="getPage" resultMap="inquiryMap">
        SELECT *
        FROM inquiry
        ORDER BY created_at desc LIMIT #{offset}, #{amount}
    </select>
    <select id="findByTitleContaining" resultMap="inquiryMap">
        SELECT *
        FROM inquiry
        WHERE title LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY created_at DESC
        LIMIT #{pageRequest.offset}, #{pageRequest.amount}
    </select>

    <select id="getTotalCountByTitle" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM inquiry
        WHERE title LIKE CONCAT('%', #{keyword}, '%')
    </select>
</mapper>