<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- org.ozea.term.mapper.TermMapper 인터페이스와 매핑되는 MyBatis 매퍼 파일입니다. -->
<mapper namespace="org.ozea.term.mapper.TermMapper">
    <select id="getList" resultType="org.ozea.term.domain.TermVO">
        select * from financialterm order by id desc
    </select>
</mapper>