<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <param name="Threshold" value="ERROR" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p: %c - %m%n" />
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/application.log" />
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="10" />
        <param name="Append" value="true" />
        <param name="Threshold" value="ERROR" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p: %c - %m%n" />
        </layout>
    </appender>

    <!-- Application Loggers -->
    <logger name="org.ozea">
        <level value="error" />
        <appender-ref ref="file" />
    </logger>

    <!-- Security Loggers -->
    <logger name="org.ozea.security">
        <level value="error" />
        <appender-ref ref="file" />
    </logger>

    <!-- Controller Loggers -->
    <logger name="org.ozea..controller">
        <level value="error" />
        <appender-ref ref="file" />
    </logger>

    <!-- Service Loggers -->
    <logger name="org.ozea..service">
        <level value="error" />
        <appender-ref ref="file" />
    </logger>

    <!-- 3rdparty Loggers -->
    <logger name="org.springframework.core">
        <level value="error" />
    </logger>
    <logger name="org.springframework.beans">
        <level value="error" />
    </logger>

    <logger name="org.springframework.context">
        <level value="error" />
    </logger>

    <logger name="org.springframework.web">
        <level value="error" />
    </logger>

    <logger name="jdbc.audit">
        <level value="off" />
    </logger>

    <logger name="jdbc.resultset">
        <level value="off" />
    </logger>

    <logger name="jdbc.connection">
        <level value="off" />
    </logger>

    <logger name="jdbc.sqlonly">
        <level value="off" />
    </logger>

    <!-- Root Logger -->
    <root>
        <priority value="error" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

</log4j:configuration>
