<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <package name="org.ozea.inquiry.domain" />
        <package name="org.ozea.board.domain" />
        <package name="org.ozea.user.domain" />
        <package name="org.ozea.goal.domain" />
        <package name="org.ozea.notice.domain" />
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="org.ozea.common.type.UUIDTypeHandler" javaType="java.util.UUID"/>
    </typeHandlers>

    <mappers>
        <mapper resource="org/ozea/goal/mapper/GoalMapper.xml" />
        <mapper resource="org/ozea/user/mapper/UserMapper.xml"/>
        <mapper resource="org/ozea/inquiry/mapper/InquiryMapper.xml"/>
        <mapper resource="org/ozea/notice/mapper/NoticeMapper.xml"/>
    </mappers>


</configuration>
