<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ozea.product.mapper.ProductMapper">

    <resultMap id="ProductWithOptionsMap" type="org.ozea.product.dto.response.ProductResponseDto">
        <id property="finPrdtCd" column="fin_prdt_cd"/>
        <result property="dclsMonth" column="dcls_month"/>
        <result property="finCoNo" column="fin_co_no"/>
        <result property="korCoNm" column="kor_co_nm"/>
        <result property="finPrdtNm" column="fin_prdt_nm"/>
        <result property="joinWay" column="join_way"/>
        <result property="mtrtInt" column="mtrt_int"/>
        <result property="spclCnd" column="spcl_cnd"/>
        <result property="joinDeny" column="join_deny"/>
        <result property="joinMember" column="join_member"/>
        <result property="etcNote" column="etc_note"/>
        <result property="maxLimit" column="max_limit"/>
        <result property="dclsStrtDay" column="dcls_strt_day"/>
        <result property="dclsEndDay" column="dcls_end_day"/>
        <result property="finCoSubmDay" column="fin_co_subm_day"/>

        <collection property="options" ofType="org.ozea.product.dto.response.ProductOptionDto">
            <id property="optionId" column="option_id"/>
            <result property="intrRateType" column="intr_rate_type"/>
            <result property="intrRateTypeNm" column="intr_rate_type_nm"/>
            <result property="rsrvType" column="rsrv_type"/>
            <result property="rsrvTypeNm" column="rsrv_type_nm"/>
            <result property="saveTrm" column="save_trm"/>
            <result property="intrRate" column="intr_rate"/>
            <result property="intrRate2" column="intr_rate2"/>
        </collection>
    </resultMap>

    <select id="findAllProductsWithOptions" resultMap="ProductWithOptionsMap">
        SELECT
        p.fin_prdt_cd,
        p.dcls_month,
        p.fin_co_no,
        p.kor_co_nm,
        p.fin_prdt_nm,
        p.join_way,
        p.mtrt_int,
        p.spcl_cnd,
        p.join_deny,
        p.join_member,
        p.etc_note,
        p.max_limit,
        p.dcls_strt_day,
        p.dcls_end_day,
        p.fin_co_subm_day,

        o.option_id,
        o.intr_rate_type,
        o.intr_rate_type_nm,
        o.rsrv_type,
        o.rsrv_type_nm,
        o.save_trm,
        o.intr_rate,
        o.intr_rate2

        FROM product p
        JOIN productoption o ON p.fin_prdt_cd = o.fin_prdt_cd
        ORDER BY p.fin_prdt_cd, o.save_trm
    </select>

    <select id="filterProducts" resultType="org.ozea.product.dto.response.ProductListResponseDto">
        SELECT
        p.fin_prdt_cd AS finPrdtCd,
        p.fin_prdt_nm AS productName,
        p.kor_co_nm AS bankName,
        MAX(o.intr_rate) AS intrRate,
        MAX(o.intr_rate2) AS intrRate2
        FROM product p
        JOIN productoption o ON p.fin_prdt_cd = o.fin_prdt_cd
        <where>
            <!-- 은행명 필터 -->
            <if test="filter.bankNames != null and filter.bankNames.size > 0">
                p.kor_co_nm IN
                <foreach item="bank" collection="filter.bankNames" open="(" separator="," close=")">
                    #{bank}
                </foreach>
            </if>

            <!-- 가입대상 필터 -->
            <if test="filter.joinMembers != null and filter.joinMembers.size > 0">
                AND p.join_member IN
                <foreach item="member" collection="filter.joinMembers" open="(" separator="," close=")">
                    #{member}
                </foreach>
            </if>

            <if test="filter.productType != null and filter.productType.size() > 0">
                AND (
                <foreach item="type" collection="filter.productType" separator=" OR ">
                    p.fin_prdt_nm LIKE CONCAT('%', #{type}, '%')
                </foreach>
                )
            </if>


            <!-- 기간 필터 -->
            <if test="filter.minSaveTrm != null">
                AND o.save_trm &gt;= #{filter.minSaveTrm}
            </if>
            <if test="filter.maxSaveTrm != null">
                AND o.save_trm &lt;= #{filter.maxSaveTrm}
            </if>

            <!-- 금액 필터 -->
            <if test="filter.minAmount != null">
                AND p.max_limit &gt;= #{filter.minAmount}
            </if>
            <if test="filter.maxAmount != null">
                AND p.max_limit &lt;= #{filter.maxAmount}
            </if>

            <if test="filter.spclCndKeywords != null and filter.spclCndKeywords.size > 0">
                <foreach item="keyword" collection="filter.spclCndKeywords" separator=" " open="AND (" close=")">
                    p.spcl_cnd LIKE CONCAT('%', #{keyword}, '%')
                </foreach>
            </if>
        </where>
        GROUP BY p.fin_prdt_cd, p.fin_prdt_nm, p.kor_co_nm
        ORDER BY intrRate2 DESC
    </select>



    <select id="getProductDetail" resultType="org.ozea.product.dto.response.ProductDetailResponseDto">
        SELECT
            fin_prdt_nm AS productName,
            kor_co_nm AS bankName,
            max_limit AS maxLimit,
            join_way AS joinWay,
            mtrt_int AS mtrtInt,
            spcl_cnd AS spclCnd,
            join_member AS joinMember,
            etc_note AS etcNote
        FROM product
        WHERE fin_prdt_cd = #{finPrdtCd}
    </select>

    <select id="getProductOptions" resultType="org.ozea.product.dto.response.ProductOptionDto">
        SELECT
            option_id AS optionId,
            intr_rate_type AS intrRateType,
            intr_rate_type_nm AS intrRateTypeNm,
            rsrv_type AS rsrvType,
            rsrv_type_nm AS rsrvTypeNm,
            save_trm AS saveTrm,
            intr_rate AS intrRate,
            intr_rate2 AS intrRate2
        FROM productoption
        WHERE fin_prdt_cd = #{finPrdtCd}
    </select>

    <select id="getProducts" resultType="org.ozea.product.dto.response.ProductListResponseDto">
        SELECT
            p.fin_prdt_cd AS finPrdtCd,
            p.fin_prdt_nm AS productName,
            p.kor_co_nm AS bankName,
            MAX(po.intr_rate) AS intrRate,
            MAX(po.intr_rate2) AS intrRate2
        FROM productoption po
                 JOIN product p ON po.fin_prdt_cd = p.fin_prdt_cd
        GROUP BY p.fin_prdt_cd, p.fin_prdt_nm, p.kor_co_nm
        ORDER BY intrRate2 DESC
            LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countAllProducts" resultType="int">
        SELECT COUNT(*) FROM (
                                 SELECT
                                     p.fin_prdt_nm, p.kor_co_nm
                                 FROM productoption po
                                          JOIN product p ON po.fin_prdt_cd = p.fin_prdt_cd
                                 GROUP BY p.fin_prdt_nm, p.kor_co_nm
                             ) AS grouped
    </select>

    <!-- 배치 작업용 SQL -->
    <insert id="insertProduct" parameterType="org.ozea.product.domain.Product">
        INSERT INTO product (
            fin_prdt_cd, dcls_month, fin_co_no, kor_co_nm, fin_prdt_nm,
            join_way, mtrt_int, spcl_cnd, join_deny, join_member,
            etc_note, max_limit, dcls_strt_day, dcls_end_day, fin_co_subm_day
        ) VALUES (
            #{finPrdtCd}, #{dclsMonth}, #{finCoNo}, #{korCoNm}, #{finPrdtNm},
            #{joinWay}, #{mtrtInt}, #{spclCnd}, #{joinDeny}, #{joinMember},
            #{etcNote}, #{maxLimit}, #{dclsStrtDay}, #{dclsEndDay}, #{finCoSubmDay}
        )
    </insert>

    <insert id="insertProductOption">
        INSERT INTO productoption (
            fin_prdt_cd, option_id, intr_rate_type, intr_rate_type_nm,
            rsrv_type, rsrv_type_nm, save_trm, intr_rate, intr_rate2
        ) VALUES (
            #{finPrdtCd}, #{optionId}, #{intrRateType}, #{intrRateTypeNm},
            #{rsrvType}, #{rsrvTypeNm}, #{saveTrm}, #{intrRate}, #{intrRate2}
        )
    </insert>

    <delete id="deleteAllProducts">
        DELETE FROM product
    </delete>

    <delete id="deleteAllProductOptions">
        DELETE FROM productoption
    </delete>

</mapper>
