<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- src/main/resources/mappers/AllAccountMapper.xml -->
<mapper namespace="org.ozea.api.allaccount.mapper.AllAccountMapper">

    <select id="getAccountInfo"
            parameterType="java.lang.String"
            resultType="org.ozea.api.allaccount.dto.response.AllAccountResDto">
        SELECT *
        FROM useraccount
        WHERE account_id = #{accountId}
    </select>

    <insert id="upsertBankAccount" parameterType="map">
        INSERT INTO bankaccount
            (user_id, bank_name, account_num, account_type, balance)
        VALUES
            (UNHEX(REPLACE(#{userId},'-','')), #{bankName}, #{accountNum}, #{accountType}, #{balance})
        ON DUPLICATE KEY UPDATE
                             bank_name    = VALUES(bank_name),
                             account_type = VALUES(account_type),
                             balance      = VALUES(balance)
    </insert>
</mapper>
