<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- src/main/resources/mappers/AllAccountMapper.xml -->
<mapper namespace="org.ozea.api.account.mapper.AllAccountMapper">

    <select id="getAccountInfo"
            parameterType="java.lang.String"
            resultType="org.ozea.api.account.dto.response.AllAccountResDto">
        SELECT *
        FROM useraccount
        WHERE account_id = #{accountId}
    </select>

</mapper>
