<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ozea.api.allaccount.mapper.AllAccountMapper">

    <select id="getUserAccountInfo"
            parameterType="string"
            resultType="org.ozea.api.allaccount.dto.request.AllAccountReqDto">
        SELECT countrycode      as countryCode,
               businesstype     as businessType,
               clienttype       as clientType,
               organization     as organization,
               logintype        as loginType,
               account_id       as id,
               account_password as password
        FROM useraccount
        WHERE user_id = UNHEX(REPLACE(#{userId}, '-', ''))
        LIMIT 1
    </select>

    <insert id="upsertBankAccount"
            parameterType="org.ozea.asset.domain.BankAccountVO">
        INSERT INTO BankAccount (
            user_id,
            bank_name,
            account_num,
            account_type,
            balance
        ) VALUES (
            #{userId},
            #{bankName},
            #{accountNum},
            #{accountType},
            #{balance}
        )
        ON DUPLICATE KEY UPDATE
            bank_name = VALUES(bank_name),
            account_type = VALUES(account_type),
            balance = VALUES(balance)
    </insert>

</mapper>