<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ozea.mapper.GoalMapper">

    <delete id="deleteByGoalIdAndUserId">
        DELETE FROM goal
        WHERE goal_id = #{goalId, jdbcType=BINARY, javaType=java.util.UUID}
          AND user_id = #{userId, jdbcType=BINARY, javaType=java.util.UUID}
    </delete>

    <select id="findAllByUserId" resultType="org.ozea.goal.domain.Goal">
        SELECT *
        FROM goal
        WHERE user_id = #{userId, jdbcType=BINARY, javaType=java.util.UUID}
    </select>

    <select id="findByGoalId" resultType="org.ozea.goal.domain.Goal">
        SELECT *
        FROM goal
        WHERE goal_id = #{goalId, jdbcType=BINARY, javaType=java.util.UUID}
    </select>

    <update id="updateGoalByIdAndUserId">
        UPDATE goal
        SET
            goal_name = #{dto.goal_name},
            target_amount = #{dto.target_amount},
            start_date = #{dto.start_date},
            end_date = #{dto.end_date},
            deposit_date = #{dto.deposit_date}
        WHERE goal_id = #{goalId, jdbcType=BINARY, javaType=java.util.UUID}
          AND user_id = #{userId, jdbcType=BINARY, javaType=java.util.UUID}
    </update>


    <insert id="insertGoal" parameterType="org.ozea.goal.domain.Goal">
        INSERT INTO Goal (
            goal_id, user_id, goal_name, target_amount,
            save_amount, start_date, end_date, status, deposit_date
        ) VALUES (
                    #{goalId, jdbcType=BINARY, javaType=java.util.UUID},
                    #{userId, jdbcType=BINARY, javaType=java.util.UUID},
                    #{goalName},
                    #{targetAmount},
                    #{saveAmount},
                    #{startDate},
                    #{endDate},
                    #{status},
                    #{depositDate}
                 )
    </insert>

</mapper>
