<!-- src/main/resources/mappers/AllAccountMapper.xml -->
<mapper namespace="org.ozea.api.mapper.AllAccountMapper">

    <select id="getAccountInfo"
            parameterType="java.lang.String"
            resultType="org.ozea.api.dto.response.AllAccountResDto">
        SELECT *
        FROM account
        WHERE account_id = #{accountId}
    </select>

</mapper>
